  /* CSS declarations go here */

body
{
  font-family: roboto,sans-serif !important;
overflow-y: hidden;
padding-bottom: 100px;
}
/* .clearfix:after
{
    content:"";
    clear: both;
    display: table;
} */
.dash{
  width: 380px!important;
  /* max-width: 420px  ; */
}
.p-0 {
    padding: 0px;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.pb-0 {
    padding-bottom: 0px;
}

.pt-0 {
    padding-top: 0px;
}

.pl-0 {
    padding-left: 0px;
}

.pr-0 {
    padding-right: 0px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pt-5 {
    padding-top: 5px;
}

.pl-5 {
    padding-left: 5px;
}

.pr-5 {
    padding-right: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pt-15 {
    padding-top: 15px;
}

.pl-15 {
    padding-left: 15px;
}

.pr-15 {
    padding-right: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px
}

.pl-20 {
    padding-left: 20px;
}

.pr-20 {
    padding-right: 20px;
}
/*Margin Styles*/

.m-0 {
    margin: 0px;
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mt-0 {
    margin-top: 0px;
}

.ml-0 {
    margin-left: 0px;
}

.mr-0 {
    margin-right: 0px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mt-5 {
    margin-top: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.mr-5 {
    margin-right: 0px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.ml-20 {
    margin-left: 20px;
}

.mr-20 {
    margin-right: 20px;
}
.ml-30 {
    margin-left: 30px;
}
.mt-30 {
    margin-top: 30px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mr-30 {
    margin-right: 30px;
}
.ml-40 {
    margin-left: 40px;
}

.mr-40 {
    margin-right: 40px;
}
.ml-80 {
    margin-left: 80px;
}
.ml-50 {
    margin-left: 50px;
}

.mr-80 {
    margin-right: 80px;
}
.mr-500 {
    margin-right: 500px;
}
.ml-400 {
    margin-left: 400px;
}
/*.input{
  width:50%;
}*/
.box{
  margin: 50 auto;
  text-emphasis-position: right;
  display:block;
  text-align:justify;
  height:200px;
  overflow-y: scroll;
}


/*live data styles*/

.advisory-table
{
    padding:40px;
}
.status-wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 35px;
}
.status-box {
    min-width: 200px;
    float: left;
}
.status-title {
    color: #4b5764;
    font-size: 14px;
    margin-bottom: 8px;
}
.status-content {
    color: #008a82;
    font-size: 24px;
}
.advisory-table table
{
    margin-top: 40px;
    clear: both;
    float: left;
    border:1px solid #ccc;
}
.advisory-table table th
{
    color:#666;
    font-weight: normal;
}
.advisory-table table td
{
}
.advisory-table table th,.advisory-table table td
{
    padding: 7px;
    text-align: right;
    font-size: 13px;
}
