<template name="account">
  <div class="container">
    <button class="button" id="signout">Signout</button>
  <div class="columns ml-50">
    <div class="column ml-20">
      <h4 class="label">Change Password</h4>
      <form class="userDetails" id="user">
        <div class="filed mb-20">
          <div class="label">User Email:</div>
          {{email}}
        </div>
        <div class="filed mb-20">
          <div class="label">Current Password</div>
          <input class="input" type="password" id="p1" placeholder="Enter Current Password">
        </div>
        <div class="filed mb-20">
          <div class="label">Enter the Password:</div>
          <input class="input" type="password" placeholder="Enter a password for the user" id="pword1">
        </div>
        <div class="filed mb-20">
          <div class="label">Confim Password:</div>
          <input class="input" type="password" placeholder="Retype the password for confirmation" id="pword2">
        </div>
      <div class="filed mb-20 is-centered">
      <button class="button is-success" type="submit" id="change">Change</button>
      </div>
      </form>
    </div>
      <div class="column ml-20">
        <h4 class="label">Enter Your Details</h4>
      <form id="update_data">
        <div class="filed mb-20">
          <div class="filed mb-20">
              <img src="{{avatar}}" class="image" height="42" width="42" id="" name="img" />
            </div>
          <div class="filed mb-20">
            <div class="label">Name:</div>
            <input class="input" type="name" value="{{name}}" id="name">
          </div>

            <div class="filed mb-20">
              <div class="label">Image:</div>
          <input  type="file" name="upload" class="upload" id="url" />
        </div>
        <div class="filed mb-20">
      <button class="button is-primary" id="dp">Upload</button>
    </div>
          <div class="filed mb-20">
            <div class="label">Phone No:</div>
            <input class="input" type="tel" value="{{phone}}" id="phone">
          </div>
          <div class="filed mb-20 is-centered">
          <button class="button is-success" type="submit" id="details">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</template>
