<template name="login">
    <!--login container-->
    <div class="login-container">
        <!--login image-->
        <div class="login-picture">
            <section class="login-content container mt-30">
                <div class="columns is-centered">
                  <div class="card column is-half">
                    <div class="card-header p-20 has-text-centered">
                    User Login
                    </div>
                    <div class="card-content">
                      <div class="columns">
                      <div class="column ">
                        <div class="g-signin2" data-onsuccess="onSignIn">
                        <button class="button mt-20 is-primary is-centered" id="google" >Google Sign In</button>
                      </div>
                    </div>
                      <div class="login-form">
                          <!--form holder-->
                          <form role="form" id="login-form" novalidate>
                              <!--filed-->
                              <div class="filed mb-20">
                                  <input class="input username" type="text" placeholder="Email Id" id="loginEmail">
                              </div>
                              <div class="filed">
                                  <input class="input password" type="password" placeholder="Password" id="loginPassword">
                              </div>
                              <div class="columns">
                                <div class="column">
                                  <button class="button mt-20 is-primary is-pulled-left" id="login">Sign in</button>
                                </div>
                                <div class="column ">
                                  <button class="button mt-20 is-primary is-centered" id="changePword">Forgot Password</button>
                                </div>
                                <div class="column ">
                                  <button class="button mt-20 is-primary is-pulled-right" id="register" >Register</button>
                                </div>
                              </div>
                          </form>
                      </div>
                    </div>
                    <div class="card-footer">
                    </div>
                    </div>
                  </div>
                </div>
            </section>
        </div>
    </div>
</template>
