<template name="layout">
    {{#if isNotAdmin}}
    {{> head}}
    <!-- {{>sideBar}} -->
    <!-- START PAGE-CONTAINER -->
    {{>header}}
    <!-- <div class="page-container"> -->
        <!-- START PAGE CONTENT WRAPPER -->
        <!-- <div class="page-content-wrapper"> -->
            <!-- START PAGE CONTENT -->
            <!-- <div class="content {{isActivePath "/" class="sm-gutter"}} "> -->
    {{#if checkSubscription}}
      {{> Template.dynamic template=main}}
    {{else}}
      {{> Template.dynamic template="subscription"}}
    {{/if}}
    <!-- </div> -->
    {{>footer}}
        <!-- </div> -->
    <!-- </div> -->
    {{else}}
    {{> loading}}
    {{/if}}

</template>
