<template name="register">
  <div class="login-container">
      <!--login image-->
      <div class="login-picture">
          <section class="login-content container mt-30">
              <div class="columns is-centered">
                <div class="card column is-half">
                  <div class="card-header p-20 has-text-centered">
                  User Registration
                  </div>
                  <div class="card-content">
                    <div class="login-form">
                        <!--form holder-->
                        <form role="form" id="register" novalidate>
                            <!--filed-->
                            <div class="filed mb-20">
                                <input class="input username" type="text" placeholder="User Name" id="name">
                            </div>
                            <div class="filed mb-20">
                                <input class="input email" type="text" placeholder="Email Id" id="email">
                            </div>

                            <div class="filed mb-20">
                                <input class="input password" type="password" placeholder="Type Password" id="password1">
                            </div>
                            <div class="filed mb-20">
                                <input class="input password" type="password" placeholder="Confirm Password" id="password2">
                            </div>
                                <button class="button mt-20 is-primary is-pulled-left" type="submit">Register</button>
                        </form>
                    </div>
                  </div>
                  <!-- <div class="card-footer">
                  </div> -->
                  </div>
                </div>
          </section>
      </div>
    </div>
</template>
