<template name="pWord">
  <div class="filed ml-80">
    <div class="section">
        <form role="form">
          <div class="filed mb-20">
            <div class="label">New Password</div>
            <input class="input" type="password" id="pword1" placeholder="Enter New Password">
          </div>
          <div class="filed mb-20">
            <div class="label">Confirm Password</div>
            <input class="input" type="password" id="pword2" placeholder="Enter New Password">
          </div>
            <div class="filed mb-20 is-centered">
              <button class="button is-Primary" type="" id="pword">Change Password</button>
            </div>
          </form>
    </div>
</div>
</template>
